#home-pdc{
    height: 70vh;
    width: 100vw;
    padding: 0 20px;
    margin: 0 auto
}

#why-pdc{
    height: fit-content;
    width: 80vw;
    padding-top: 10vh;
    margin: auto;
}

#about-us{
    width: 80vw;
    margin: auto;
    margin-top: 10vh;
    gap: 2rem;
}

#testimonials{
    height: fit-content;
    width: 100vw;
    margin-top: 10vh;
}

.testimonial-card{
    height: 40vh;
    width: 70vw;
    min-width: 300px;
    max-width: 500px;
    box-shadow: 0px 7px 12px 10px rgba(0, 0, 0, 0.13);
    border-radius: 25px 0px;
    /* margin: auto auto, */
}

#awards{
    height: fit-content;
    width: 100vw;
    margin: auto;
    padding: 5vh 0;
    flex-wrap: wrap;
}

#collaborations{ 
    height: fit-content;
    width: 100vw;
    margin-top: 5vh;
    padding: 20px 5vw;
}

#home-our-products{
    height: fit-content;
    width: 100vw;
    margin: auto;
    margin-top: 10vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.home-product-item{
    width: 25vw;
    gap: 2rem;
    align-self: end;
}

#footer {
    width: 100vw;
    margin: auto;
    margin-top: 10vh;
    gap: 2rem;
    background: #FAFBFB;
    padding: 70px 5vw;
}

.info-card {
    display: grid;
    grid-template-columns: .15fr 1fr;
}

#social-channels {
    width: 15vw;
}